target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
frontendvite/.idea/modules.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### extra shit to be extra extra sure ###
frontendvite/dist/
frontendvite/dist-ssr
frontendvite/dist
frontendvite/*.local
frontendvite/.idea
frontendvite/node_modules
frontendvite/.vite/
frontendvite/.env
frontendvite/.env.*
frontendvite/gogs
frontendvite/*.log
frontendvite/npm-debug.log*
frontendvite/yarn-debug.log*
frontendvite/yarn-error.log*
frontendvite/pnpm-debug.log*
frontendvite/lerna-debug.log*
node_modules
dist
dist-ssr
*.local


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store